<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white fw-bold" href="#">
      <i class="bi bi-bar-chart-fill me-2" style="color:#1DCD9F;"></i> Gestão de Vendas
    </a>
    <div class="d-flex align-items-center">
      <img
        src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?auto=format&fit=facearea&w=40&h=40&facepad=2"
        class="rounded-circle me-2 me-4" alt="Perfil" width="30" height="30">
    </div>
  </div>
</nav>