{% if page_obj.has_other_pages %}
<nav>
  <ul class="pagination justify-content-center custom-pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" style="color:#128466; border-color:#128466;"
        href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
    </li>
    {% endif %}
    {% for page in page_obj.paginator.page_range %}
    {% if page == page_obj.number %}
    <li class="page-item active">
      <a class="page-link" href="#" style="background-color:#128466; border-color:#128466; color:#fff;">{{ page }}</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page }}" style="color:#128466; border-color:#128466;">{{ page }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}"
        style="color:#128466; border-color:#128466;">&raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}