{% extends "base.html" %}
{% block title %}Marcas{% endblock %}
{% block content %}

<div class="row mb-3">
  <div class="col-md-6">
    <form action="{% url 'inflow_list' %}" method="get">
      <div class="input-group">
        <input type="text" class="form-control search-input" name="name" placeholder="🔍" value="{{request.GET.name}}">
        <button type="submit" class="btn btn-success">Buscar</button>
      </div>
    </form>
  </div>

  <div class="col-md-6 text-end">
    <a href="#" class="btn btn-success">
      <i class="bi bi-plus me-1"></i>
      Cadastrar Entrada
    </a>
  </div>
</div>

<div class="table-responsive">
  {% if not_found %}
  <div class="alert text-center text-white mt-3">{{ not_found }}</div>
  {% else %}
  <table class="table table-hover table-bordered align-middle rounded shadow-sm overflow-hidden">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for brand in brands %}
      <tr>
        <td>{{ brand.id }}</td>
        <td>{{ brand.name }}</td>
        <td>{{ brand.description }}</td>
        <td>
          <a href="#" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top"
            title="Visualizar detalhes da marca">
            <i class="bi bi-search"></i>
          </a>
          <a href="#" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Editar Marca">
            <i class="bi bi-pencil"></i>
          </a>
          <a href="#" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir Marca">
            <i class="bi bi-trash"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% include 'components/pagination.html' %}

{% endblock %}