{% extends "base.html" %}

{% block title %}Saidas{% endblock %}
{% block content %}

<div class="row mb-3">
  <div class="col-md-6">
    <form action="{% url 'outflow_list' %}" method="get">
      <div class="input-group">
        <input type="text" class="form-control search-input" name="product" placeholder="🔍"
          value="{{request.GET.product}}">
        <button type="submit" class="btn btn-success">Buscar</button>
      </div>
    </form>
  </div>

  <div class="col-md-6 text-end">
    <a href="{% url 'outflow_create' %}" class="btn btn-success">
      <i class="bi bi-plus me-1"></i>
      Cadastrar Saída
    </a>
  </div>
</div>

<div class="table-responsive">
  {% if not_found %}
  <div class="alert text-center text-white mt-3">{{ not_found }}</div>
  {% else %}
  <table class="table table-hover table-bordered align-middle rounded shadow-sm overflow-hidden">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Produto</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Data de Saída</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for outflow in outflows %}
      <tr>
        <td>{{ outflow.id }}</td>
        <td>{{ outflow.product }}</td>
        <td>{{ outflow.quantity }}</td>
        <td>{{ outflow.created_at }}</td>
        <td>
          <a href="{% url 'outflow_detail' outflow.id %}" class="btn btn-sm btn-info" data-toggle="tooltip"
            data-placement="top" title="Visualizar detalhes da saída">
            <i class="bi bi-search"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% include 'components/pagination.html' %}

{% endblock %}