{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-center mb-4">Login</div>
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
          </form>
          {% if form.errors %}
          <div class="alert alert-danger mt-4">
            <ul></ul>
              {% for field in form %}
                {% for error in field.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
