{% extends "base.html" %}

{% block title %} Gestão de Vendas {% endblock %}

{% block content %}
{% include "product_metrics.html" %}
{% include "sales_metrics.html" %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="row mt-4 justify-content-center">
    <div class="col-md-6 text-center">
        <h5 class="text-center mb-3">Valor das Vendas (7 dias)</h5>
        <canvas id="salesValueChart"></canvas>
    </div>

    <div class="col-md-6 text-center">
        <h5 class="text-center mb-3">Quantidade de vendas diarias</h5>
        <canvas id="dailySalesQuantityChart"></canvas>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var salesValueDate = JSON.parse('{{ sales_value_dates|safe }}');
            var dailySalesQuantityDate = JSON.parse('{{ daily_sales_quantity_dates|safe }}');

            var salesValueCtx = document.getElementById('salesValueChart').getContext('2d');
            var salesValueChart = new Chart(salesValueCtx, {
                type: 'line',
                data: {
                    labels: salesValueDate.dates,
                    datasets: [{
                        label: 'Valor das Vendas',
                        data: salesValueDate.values,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1,
                        fill: true,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            
            var dailySalesQuantityCtx = document.getElementById('dailySalesQuantityChart').getContext('2d');
            var dailySalesQuantityChart = new Chart(dailySalesQuantityCtx, {
                type: 'line',
                data: {
                    labels: dailySalesQuantityDate.dates,
                    datasets: [{
                        label: 'Quantidade de Vendas Diárias',
                        data: dailySalesQuantityDate.values,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1,
                        fill: true,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
</div>

{% endblock %}