<div class="card mt-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="card mb-3" style="background: linear-gradient(135deg, #1DCD9F 60%, #128466 100%); color: #fff;">
          <div class="card-body">
            <h5 class="card-title">Total de Produtos</h5>
            <p class="card-text font-weight-bold display-5">R${{product_metrics.total_products}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-3" style="background: linear-gradient(135deg, #128466 60%, #1DCD9F 100%); color: #fff;">
          <div class="card-body">
            <h5 class="card-title">Custo de Estoque</h5>
            <p class="card-text font-weight-bold display-5">R${{product_metrics.stock_cost}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-3" style="background: linear-gradient(135deg, #1DCD9F 60%, #0e7c60 100%); color: #fff;">
          <div class="card-body">
            <h5 class="card-title">Total de Lucro</h5>
            <p class="card-text font-weight-bold display-5">R${{product_metrics.total_profit}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-3" style="background: linear-gradient(135deg, #128466 60%, #0e7c60 100%); color: #fff;">
          <div class="card-body">
            <h5 class="card-title">Valor do Estoque</h5>
            <p class="card-text font-weight-bold display-5">R${{product_metrics.stock_value}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>